<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gateway</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">help</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button [routerLink] = "['/register']" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Sign Up</button></li>
        <li ><button [routerLink] = "['/login']" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span> Login</button></li>
        <li ><button [routerLink] = "['/demodata']" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span> showdata</button></li>

      </ul>
    </div>
  </div>
</nav> 